<h1>Retrive</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>

        </tr>
        
    </thead>
    <tbody>
        <% result.forEach(function(res){%>
            <tr>
                <td><%=res.name%></td>
                <td><%=res.age%></td>
            </tr>
        <%})%>
    </tbody>
</table>

   
